.header {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 185px;
  .container {
    padding: 0 40px 0 60px;
    &::before {
      content: "";
      position: absolute;
      bottom: 110px;
      right: 15px;
      width: 210px;
      height: 12px;
      background: #d18929;
      z-index: 1;
    }
    &::after {
      content: "";
      position: absolute;
      right: 15px;
      bottom: 87px;
      width: 310px;
      height: 12px;
      background: #d18929;
      z-index: 1;
    }
  }
  &__nav {
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 50px;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    .menu__link {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #000;
    }
  }
  &__logo {
    position: absolute;
    right: -4px;
    top: 70px;
  }
  &__title {
    position: absolute;
    width: 632px;
    left: 40px;
    bottom: 120px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 62px;
    line-height: 76px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    z-index: 1;
  }
  &__images {
    position: relative;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
  }
  .image-left {
    position: relative;
    max-width: 640px;
    width: 100%;
    height: 608px;
    background-image: url(../img/header/road1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .image-right {
    margin-top: 260px;
    max-width: 640px;
    width: 100%;
    height: 680px;
    background-image: url(../img/header/road2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 32%;
      top: -15%;
      width: 12px;
      height: 230px;
      background: #d18929;
    }
    &::after {
      content: "";
      position: absolute;
      left: 35%;
      top: -4.9%;
      width: 12px;
      height: 160px;
      background: #d18929;
    }
  }
  &__contacts {
    position: absolute;
    bottom: -90px;
    padding-left: 14px;
    padding-top: 202px;
    display: flex;
    flex-direction: column;
    background: rgba(245, 245, 246, 0.66);
    max-width: 400px;
    width: 100%;
    border-top: 16px solid rgba(209, 137, 41, 0.6);
  }
  &__contact {
    position: relative;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 60px;
    &::before {
      position: absolute;
      content: "";
      width: 180px;
      height: 6px;
      left: -50px;
      top: -30px;
      background: #d18929;
    }
    &:first-child {
      width: 240px;
      &::before {
        display: none;
      }
    }
    &:nth-child(2) {
      width: 294px;
    }
    &:nth-child(3) {
      width: 332px;
      margin-bottom: 45px;
    }
    a {
      display: inline-block;
      color: #000;
    }
  }
}
