.cases {
  @media (max-width: 1425px) {
    padding-bottom: 35px;
    .cases__slider-item:nth-child(1)::before {
      display: none;
    }
    .cases__slider-item:nth-child(1)::after {
      display: none;
    }
    .cases__slider-item:nth-child(1) {
      .cases__item {
        max-width: 100% !important;
      }
      .cases__wrapper {
        padding-left: 20px;
      }
      .cases__item {
        &:nth-child(1) {
          .img-wrapper {
            top: 0;
            width: 100%;
          }
          img {
            transform: translateY(-65%) translateX(0);
            margin: 0 auto;
          }
        }
        &:nth-child(3) {
          .img-wrapper {
            top: 0;
            width: 100%;
          }
          img {
            transform: translateY(-65%) translateX(0);
            margin: 0 auto;
          }
        }
        &:nth-child(4) {
          .img-wrapper {
            top: 0;
            width: 100%;
          }
          img {
            transform: translateY(-65%) translateX(0);
            margin: 0 auto;
          }
        }
      }
    }
    .cases__wrapper {
      padding-right: 10px;
    }
    &__slider-item:nth-child(1) {
      position: relative;
      margin-bottom: 35px;
      .cases__wrapper {
        margin-bottom: 30px;
      }
      .cases__title-wrapper {
        flex-direction: column;
        margin-bottom: 0;
      }
      .cases__text {
        max-width: 100%;
        width: 100%;
      }
      .cases__item {
        &:nth-child(1) {
          position: relative;
          max-width: 700px;
          top: 0px;
          right: 0px;
          img {
            transform: translateY(-65%) translateX(50%);
            width: 286px;
          }
          .img-wrapper {
            right: auto;
          }
        }
        &:nth-child(2) {
          position: relative;
          max-width: 700px;
          top: 0px;
          right: 0px;
          padding-top: 60px;
          @media (max-width: 660px){
            padding-top: 30px;
          }
          @media (max-width: 450px){
            padding-top: 40px;
          }
          .case-number {
            top: 30px;
            @media (max-width: 660px){
              top: 0px;
            }
            @media (max-width: 450px){
              top: 10px;
            }
          }
        }
        &:nth-child(3) {
          max-width: 700px;
          margin-right: 0;
          img {
            transform: translateY(-65%) translateX(50%);
            width: auto;
          }
          .img-wrapper {
            right: auto;
          }
        }
        &:nth-child(4) {
          max-width: 700px;
          margin-right: 0;
          img {
            transform: translateY(-65%) translateX(50%);
            width: auto;
          }
          .img-wrapper {
            right: auto;
          }
        }
      }
    }
    &__slider-item:nth-child(2) {
      position: relative;
      .cases__wrapper {
        padding-left: 22px;
        margin-bottom: 35px;
      }
      .cases__title-wrapper {
        flex-direction: column;
        max-width: 100%;
        margin-bottom: 0;
      }
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
      .cases__text {
        max-width: 100%;
        width: 100%;
        margin-top: 0;
      }
      .cases__item {
        &:nth-child(1) {
          position: relative;
          max-width: 100%;
          top: 0px;
          right: auto;
          left: 0;
          margin-right: 0;
          img {
            transform: translateY(-65%) translateX(0%);
            width: auto;
            margin: 0 auto;
          }
          .img-wrapper {
            max-width: 100%;
            width: 100%;
          }
        }
        &:nth-child(2) {
          position: relative;
          max-width: 100%;
          top: 0px;
          right: 0px;
          margin-right: 0;
          img {
            transform: translateY(-65%) translateX(0%);
            width: 286px;
            margin: 0 auto;
          }
          .img-wrapper {
            max-width: 100%;
            width: 100%;
            height: 150px;
          }
        }
        &:nth-child(3) {
          max-width: 100%;
          margin-right: 0;
          img {
            transform: translateY(-65%) translateX(0%);
            width: auto;
            margin: 0 auto;
          }
          .img-wrapper {
            max-width: 100%;
            width: 100%;
            height: 180px;
          }
        }
      }
      .page-count {
        line-height: 90px;
        left: auto;
        top: 26px;
      }
    }
    &__wrapper {
      padding-left: 100px;
    }
    &__item {
      &:nth-child(2n) {
        margin-right: 10px;
      }
    }
    &__title-wrapper {
      padding-top: 23px;
    }
    &__title {
      &::after {
        display: none;
      }
      &-wrapper {
        padding-left: 20px;
        flex-direction: column;
      }
    }
    &__wrapper {
      padding-left: 22px;
    }
    &__descr {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 100px;
        height: 3px;
        background: #d18929;
        left: -2px;
        top: -3px;
      }
    }
    .case-number {
      z-index: 10;
      left: -3px;
      top: 125px;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.02em;
    }
    .slider-arrows__left {
      left: 37%;
    }
    .slider-arrows__right {
      right: 37%;
    }
  }
  @media (max-width: 1340px) {
    &__wrapper {
      justify-content: space-between;
    }
    &__item {
      margin-right: 0;
    }
  }
  @media (max-width: 1280px) {
    &__item {
      max-width: 550px;
    }
    &__descr {
      font-size: 23px;
    }
  }
  @media (max-width: 1260px) {
    padding-left: 15px;
    padding-right: 15px;
    &__slider-item:nth-child(2) {
      .container {
        border: none;
      }
    }
  }
  @media (max-width: 1210px) {
    &__item {
      max-width: 520px;
    }
    &__descr {
      font-size: 22px;
      line-height: 27px;
    }
  }
  @media (max-width: 1210px) {
    &__item {
      max-width: 500px;
    }
    &__descr {
      font-size: 20px;
      line-height: 27px;
    }
  }
  @media (max-width: 1075px) {
    &__item {
      max-width: 450px;
      margin-bottom: 20px;
    }
  }
  @media (max-width: 1000px) {
    &__item {
      max-width: 400px;
    }
    .cases__slider-item:nth-child(1) .page-count {
      left: auto;
      right: 16px;
    }
  }
  @media (max-width: 890px) {
    &__title {
      margin-right: 0;
    }
    .cases__slider-item:nth-child(2) .cases__text {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.03em;
    }
    &__wrapper {
      justify-content: center;
    }
    &__item {
      max-width: 590px;
      margin-bottom: 0;
    }
  }
  @media (max-width: 744px) {
    &__title-wrapper {
      padding-top: 30px;
    }
    .cases__text {
      font-size: 40px;
      line-height: 158%;
      letter-spacing: 0.03em;
      text-transform: lowercase;
      padding-right: 148px;
    }
  }
  @media (max-width: 710px) {
    .cases__title {
      font-size: 30px;
    }
    .cases__text {
      font-size: 30px;
    }
    .cases__slider-item:nth-child(1) {
      .page-count {
        right: 0;
      }
      &::before {
        display: none;
      }
    }
    .cases__slider-item:nth-child(1)::after {
      display: none;
    }
  }
  @media (max-width: 660px) {
    .cases__slider-item:nth-child(1) {
      margin-bottom: 0;
    }
    .view-all {
      display: block;
    }
    .stripes-wrapper {
      display: none;
    }
    &__title-wrapper {
      &:nth-child(2) {
        display: flex;
      }
    }
    &__wrapper {
      margin-bottom: 0;
    }
    &__item {
      max-width: 450px;
      margin-bottom: 25px;
    }
    &__descr {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.02em;
    }
    &__slider-item {
      display: none;
      .container {
        border: none;
      }
      &:nth-child(1) {
        display: block;
      }
    }
  }
  @media (max-width: 500px) {
    padding: 35px 10px 0;
    &__wrapper {
      padding-left: 10px !important;
    }
    .cases__title {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.02em;
      margin-bottom: 21px;
      &-wrapper {
        padding-top: 23px;
      }
    }
    .cases__text {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.03em;
      padding-right: 70px;
    }
    .cases__descr::before {
      top: -7px;
    }
    .cases__slider-item:nth-child(1) .page-count,
    .cases__slider-item:nth-child(2) .page-count_mobile {
      font-size: 26px;
      line-height: 31px;
      right: 30px;
      right: 30px;
      top: 68px;
    }
  }
  @media (max-width: 450px) {
    .cases__item {
      margin-bottom: 0;
    }
    .cases__slider-item:nth-child(2) .cases__item {
      margin-bottom: 25px;
    }
  }
  @media (max-width: 450px) {
  }
}
