.delivery {
  @media (max-width: 1430px) {
    &__img-right {
      display: none;
    }
  }
  @media (max-width: 1245px) {
    padding-right: 10px;
    .page-count {
      // left: auto;
      // font-size: 26px;
      // line-height: 30px;
      top: 3px;
      right: 21px;
    }
    &__left {
      padding-left: 10px;
    }
    // &__title {
    //   font-size: 30px;
    //   line-height: 35px;
    //   letter-spacing: 0.02em;
    //   max-width: 100%;
    //   margin-left: 20px;
    //   margin-bottom: 30px;
    //   &::after{
    //     display: none;
    //   }
    // }
    &__title {
      margin-left: 20px;
      margin-bottom: 45px;
      &::after {
        bottom: -15px;
      }
    }
    &__inner {
      flex-direction: column;
    }
    .advantages {
      position: relative;
      margin-bottom: 90px;
    }
    .advantages__list {
      padding-left: 70px;
      margin-bottom: 0;
      &::before {
        display: none;
      }
    }
    .advantages__item {
      max-width: 100%;
      padding-right: 237px;
      margin-bottom: 45px;
    }
    .advantages__title {
      font-size: 30px;
      line-height: 35px;
      letter-spacing: 0.02em;
      max-width: 100%;
      margin-left: 20px;
      margin-top: 0;
    }
    .descr {
      display: flex;
      flex-direction: column;
      margin-bottom: 76px;
      max-width: 100%;
      &__text {
        max-width: 100%;
        margin-bottom: 76px;
        padding-left: 15px;
        padding-right: 112px;
        p {
          margin-bottom: 40px;
        }
      }
      &__img {
        margin: 0 auto;
        &-wrapper {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
    &__img-right {
      top: auto;
      bottom: 160px;
    }
    .advantages {
      .delivery__img-right {
        display: block;
        height: 100%;
        bottom: 0;
      }
    }
  }
  @media (max-width: 1260px) {
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    .container {
      border: 1px solid #000000;
    }
    &__title {
      padding-right: 150px;
    }
    .advantages__list {
      padding-left: 50px;
    }
    .advantages__item::before {
      font-size: 30px;
      left: -50px;
    }
    .advantages__item::after {
      left: -10px;
      top: 0;
    }
    .advantages__btn-wrapper {
      bottom: 36px;
    }
    &__left {
      padding-right: 10px;
    }
  }
  @media (max-width: 744px) {
    .advantages{
      margin-bottom: 87px;
    }
    .advantages__item{
      &:last-child{
        margin-bottom: 20px;
      }
    }
  }
  @media (max-width: 700px) {
    .advantages {
      margin-bottom: 0;
      .delivery__img-right {
        display: none;
      }
      &__item {
        padding-right: 10px;
      }
    }
    .advantages__btn {
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      letter-spacing: -0.01em;
      width: 280px;
      &::before {
        width: 6px;
        height: 49px;
        top: 0;
      }
      &::after {
        width: 6px;
        height: 49px;
        top: 0;
      }
      &-wrapper {
        width: 280px;
        bottom: 0;
      }
    }
    &__title {
      font-size: 30px;
      line-height: 35px;
      letter-spacing: -0.02em;
    }
    .descr{
      margin-bottom: 58px;
    }
  }
  @media (max-width: 500px) {
    padding: 30px 10px 0;
    &__left{
      padding-top: 23px;
    }
    .descr {
      position: relative;
      .page-count {
        display: block;
        position: absolute;
        font-size: 26px;
        line-height: 31px;
        top: -18px;
        right: 10px;
      }
      &__text{
        padding-right: 0;
        padding-left: 3px;
      }
    }
    .advantages__title {
      margin-top: 0;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.02em;
      margin-bottom: 30px;
    }
    .descr__text {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 35px;
      p{
        margin-bottom: 20px;
      }
    }
    .advantages__list {
      padding-left: 40px;
    }
    .advantages__item {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.02em;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 60px;
      }
      &::before {
        left: -45px;
      }
    }
    .advantages__btn {
      max-width: 260px;
      font-size: 18px;
      &-wrapper {
        width: 260px;
      }
    }
    &__title {
      padding-right: 77px;
      margin-left: 3px;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.02em;
      margin-bottom: 40px;
      &::after {
        display: none;
      }
    }
  }
  .descr__img-wrapper{
    position: relative;
    &::after{
      position: absolute;
      content: "";
      width: 220px;
      height: 4px;
      background: #d18929;
      bottom: -45px;
      right: -10px;
    }
  }
}
