.partners {
  @media (max-width: 1810px) {
    &__wrapper {
      padding: 30px;
    }
    &__left {
      padding-left: 20px;
    }
    &__right {
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .page-count {
      right: 45%;
      top: 0;
    }
  }
  @media (max-width: 1755px) {
    &__wrapper {
      padding: 20px;
    }
  }
  @media (max-width: 1580px) {
    // &__wrapper {
    //   flex-direction: column;
    //   align-items: center;
    // }
    &__left {
      max-width: 100%;
      margin-right: 0;
    }
    &__right {
      max-width: 100%;
      width: 100%;
    }
    .right__img-wrapper {
      max-width: 800px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media (max-width: 1425px) {
    padding-bottom: 35px;
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: 1260px) {
    padding-left: 15px;
    padding-right: 15px;
    .container {
      border: 1px solid #000000;
    }
    .partners__left {
      padding-left: 0;
    }
  }
  @media (max-width: 1117px) {
    .page-count {
      right: 15px;
    }
  }
  @media (max-width: 1000px) {
    &__left {
      padding-top: 30px;
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
    &__right {
      padding-top: 30px;
      padding-left: 0;
      .right__img-wrapper {
        width: 372px;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        margin-left: 0;
      }
    }
  }
  @media (max-width: 744px) {
    &__wrapper {
      padding-bottom: 50px;
    }
    &__title {
      margin-top: 20px;
      margin-bottom: 80px;
    }
    &__right {
      padding-top: 70px;
    }
  }
  @media (max-width: 690px) {
    .img-row-1 {
      img:nth-child(1) {
        width: 150px;
      }
      img:nth-child(2) {
        width: 150px;
      }
      img:nth-child(3) {
        width: 165px;
      }
    }
    .img-row-2 {
      img:nth-child(1) {
        width: 120px;
      }
      img:nth-child(2) {
        width: 150px;
      }
      img:nth-child(3) {
        width: 160px;
      }
    }
    .img-row-3 {
      img:nth-child(1) {
        width: 200px;
      }
      img:nth-child(2) {
        width: 200px;
      }
    }
    .img-row-4 {
      img:nth-child(1) {
        width: 150px;
      }
      img:nth-child(2) {
        width: 150px;
      }
      img:nth-child(3) {
        width: 170px;
      }
    }
    .img-row-5 {
      img:nth-child(1) {
        width: 200px;
      }
      img:nth-child(2) {
        width: 190px;
      }
    }
  }
  @media (max-width: 710px) {
    &__wrapper {
      padding-left: 12px;
      padding-right: 12px;
    }
    .img-row {
      margin-bottom: 20px;
    }
    .page-count {
      font-weight: 300;
      font-size: 26px;
      line-height: 31px;
      top: 24px;
      right: 39px;
    }
  }
  @media (max-width: 580px) {
    .img-row-1 {
      margin-top: 0;
      img:nth-child(1) {
        width: 130px;
      }
      img:nth-child(2) {
        width: 130px;
      }
      img:nth-child(3) {
        width: 135px;
      }
    }
    .img-row-2 {
      img:nth-child(1) {
        width: 90px;
      }
      img:nth-child(2) {
        width: 120px;
      }
      img:nth-child(3) {
        width: 130px;
      }
    }
    .img-row-3 {
      img:nth-child(1) {
        width: 180px;
      }
      img:nth-child(2) {
        width: 180px;
      }
    }
    .img-row-4 {
      img:nth-child(1) {
        width: 120px;
      }
      img:nth-child(2) {
        width: 120px;
      }
      img:nth-child(3) {
        width: 140px;
      }
    }
    .img-row-5 {
      img:nth-child(1) {
        width: 170px;
      }
      img:nth-child(2) {
        width: 160px;
      }
    }
  }
  @media (max-width: 500px) {
    &__title {
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.02em;
      margin-bottom: 35px;
      margin-top: 0;
    }
    .right .partners__title {
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.02em;
      margin-bottom: 25px;
    }
    padding: 0 10px 30px;
    .img-row {
      display: flex;
      justify-content: space-around;
      padding: 0;
    }
    .img-row-1 {
      height: 63px;
      margin-bottom: 19px;
      img:nth-child(1) {
        width: 63px;
        height: 37px;
      }
      img:nth-child(2) {
        width: 69px;
        height: 63px;
      }
      img:nth-child(3) {
        width: 72px;
        height: 20px;
      }
    }
    .img-row-2 {
      margin-bottom: 19px;
      height: 54px;
      img:nth-child(1) {
        width: 62px;
        height: 54px;
      }
      img:nth-child(2) {
        width: 75px;
        height: 51px;
      }
      img:nth-child(3) {
        width: 78px;
        height: 30px;
      }
    }
    .img-row-3 {
      margin-bottom: 18px;
      height: 33px;
      img:nth-child(1) {
        width: 120px;
        height: 33.27px;
      }
      img:nth-child(2) {
        width: 120px;
        height: 31.84px;
      }
    }
    .img-row-4 {
      margin-bottom: 18px;
      height: 50px;
      img:nth-child(1) {
        width: 85px;
        height: 35.48px;
      }
      img:nth-child(2) {
        width: 85px;
        height: 50.26px;
      }
      img:nth-child(3) {
        width: 85px;
        height: 21.11px;
      }
    }
    .img-row-5 {
      margin-bottom: 39px;
      height: 37px;
      img:nth-child(1) {
        width: 110px;
        height: 37.68px;
      }
      img:nth-child(2) {
        width: 110px;
        height: 35px;
      }
    }
    &__wrapper {
      padding: 0 10px 50px;
    }
    &__left {
      border: none;
      padding-left: 0;
      height: auto;
      .img-wrapper {
        border: 6px solid #d18929;
        padding-left: 10px;
        display: none;
        &_mobile {
          position: relative;
          display: flex;
          padding-bottom: 0;
          &::before {
            position: absolute;
            content: "";
            height: 8px;
            width: 230px;
            background: rgb(255, 255, 255);
            top: -7px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
    &__right {
      border: none;
      padding-top: 30px;
      padding-left: 0;
      .partners__title {
        margin-left: 23px;
      }
      .right__img-wrapper {
        max-width: 372px;
        width: 100%;
        justify-content: center;
        align-items: center;
        .partners__item-right {
          &:nth-child(1) {
            width: 227.75px;
            height: 59.87px;
          }
          &:nth-child(2) {
            width: 227.75px;
            height: 85.71px;
          }
          &:nth-child(3) {
            width: 166px;
            height: 110px;
          }
          &:nth-child(4) {
            width: 275.01px;
            height: 63.14px;
          }
          &:nth-child(5) {
            width: 211.5px;
            height: 45.8px;
          }
          &:nth-child(6) {
            width: 282px;
            height: 52.24px;
          }
        }
      }
    }
    .spark{
      margin-bottom: 20px!important;
    }
  }
}
