.service {
  padding-bottom: 60px;
  @media (max-width: 1785px) {
    &__btn {
      margin-bottom: 30px;
    }
    &__img-right {
      height: auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .benefits__item {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 1365px) {
    .center-block {
      max-width: 633px;
      width: 100%;
      right: 0;
    }
    .center-block__count {
      left: auto;
      right: 0;
      right: 30px;
    }
    .center-block__text {
      width: 350px;
      font-size: 30px;
      left: auto;
      right: 0;
    }
    &__left {
      z-index: 10;
    }
    &__text {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 1260px) {
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    .container {
      border: 1px solid #000000;
    }
    &__left {
      padding-left: 10px;
    }
    .benefits {
      margin-bottom: 0;
    }
  }
  @media (max-width: 1160px) {
    &__left {
      padding-left: 30px;
    }
    &__title {
      &::after {
        left: 0;
      }
    }
  }
  @media (max-width: 1135px) {
    &__left {
      padding-left: 10px;
    }
    .center-block__count {
      display: none;
    }
    .page-count {
      display: block;
      z-index: 1;
    }
    .center-block__text {
      font-weight: 500;
      font-size: 35px;
      line-height: 131.69%;
      letter-spacing: 0.02em;
    }
    .benefits__item {
      margin-right: 20px;
    }
  }
  @media (max-width: 1090px) {
    // .page-count {
    //   font-weight: 500;
    //   font-size: 26px;
    //   line-height: 30px;
    //   top: 23px;
    //   right: 14px;
    // }
  }
  @media (max-width: 1025px) {
    .center-block__text {
      width: 350px;
      font-weight: 500;
      font-size: 30px;
      line-height: 131.69%;
      letter-spacing: 0.02em;
      display: none;
    }
    .benefits {
      margin-right: 0;
      margin-bottom: 32px;
      &__item {
        margin-right: 0;
      }
    }
  }
  @media (max-width: 990px) {
    .container {
      padding-right: 0;
      padding-bottom: 130px;
    }
    .center-block {
      background: none;
      max-width: 582px;
      width: 100%;
      height: 778px;
      left: 0;
      top: 285px;
      background: rgba(255, 255, 255, 0.78);
    }
    .center-block__text {
      top: 148px;
      left: 88px;
      display: block;
      font-size: 48px;
      line-height: 120%;
      letter-spacing: 0.02em;
    }
    &__inner {
      flex-direction: column;
      flex-direction: column-reverse;
      padding: 0 30px;
      padding-top: 285px;
    }
    &__img-right {
      height: 778px;
      display: block;
      margin: 0 auto;
      width: 100%;
      margin-bottom: 36px;
    }
    &__left {
      padding: 0;
    }
    .service__title {
      display: none;
    }
    .service__text {
      display: none;
    }
    .service__title_mobile {
      display: block;
      position: absolute;
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 0.02em;
      top: 50px;
      left: 22px;
    }
    .service__text_mobile {
      display: block;
      position: absolute;
      font-size: 20px;
      line-height: 27px;
      letter-spacing: 0.085em;
      top: 140px;
      left: 28px;
      padding-right: 83px;
      color: #d18929;
    }
    .benefits{
      margin-bottom: 0;
    }
    .benefits__item{
      margin-bottom: 44px;
      img{
        margin-bottom: 23px;
      }
    }
    &__btn{
      position: absolute;
      margin: 0;
      bottom: 43px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media (max-width: 720px) {
    .benefits__item {
      width: 200px;
      img {
        width: 60px;
        height: 60px;
        margin-bottom: 22px;
      }
    }
    .benefits__text {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
    }
    &__left {
      padding-left: 0;
    }
    .benefits {
      padding-left: 20px;
    }
  }
  @media (max-width: 690px) {
    .benefits {
      justify-content: space-around;
    }
    .benefits__text {
      width: 180px;
      margin-right: 0;
    }
  }
  @media (max-width: 537px) {
    .benefits__item {
      width: 180px;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  @media (max-width: 500px) {
    padding: 30px 10px 0;
  }
  @media (max-width: 445px) {
    &__inner {
      padding-left: 0;
      padding-right: 0;
    }
    .benefits {
      &__item {
        margin-right: 20px;
      }
    }
    .center-block__text {
      width: 280px;
      top: 25px;
    }
    .center-block {
      width: 180px;
    }
    .benefits {
      position: relative;
      &__item {
        width: 120px;
      }
      &__text {
        width: 120px;
      }
      &::after {
        position: absolute;
        content: "";
        width: 180px;
        height: 4px;
        background: #d18929;
        right: 0;
        top: -125px;
      }
    }
    .service__text_mobile {
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      letter-spacing: -0.01em;
      top: 71px;
    }
    &__title_mobile {
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.02em;
    }
    .service__btn {
      margin-bottom: 44px;
      &::before {
        top: -15px;
      }
      &::after {
        top: -15px;
      }
    }
    .page-count {
      display: block;
      top: 16px;
      right: 15px;
      font-style: normal;
      font-weight: 500;
    }
  }
}
