.team {
  @media (max-width: 1845px) {
    &__bottom-img {
      width: 1063px;
    }
  }
  @media (max-width: 1745px) {
    &__bottom-img {
      width: 963px;
    }
  }
  @media (max-width: 1745px) {
    &__bottom-img {
      max-width: 1163px;
      width: 100%;
    }
    &__members {
      margin-right: 5px;
    }
  }
  @media (max-width: 1570px) {
    &__members-inner {
      padding-left: 40px;
      justify-content: left;
    }
    &__members {
      margin-right: 20px;
    }
    &__left {
      margin-right: 40px;
    }
    &__bottom-img {
      height: 200px;
    }
    &__members-wrapper {
      margin-bottom: 40px;
      padding-left: 0;
    }
  }
  @media (max-width: 1425px) {
    padding-bottom: 30px;
    .team-logo {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media (max-width: 1380px) {
    &__left {
      display: flex;
      justify-content: center;
      margin-right: 0;
    }
    &__members-wrapper {
      max-width: 500px;
    }
    &__members-inner {
      max-width: 500px;
      justify-content: space-between;
      padding-left: 0;
    }
    &__members {
      &:nth-child(1) {
        margin-right: 60px;
      }
      &:nth-child(2) {
        margin-right: 60px;
      }
      &:nth-child(3) {
        margin-right: 60px;
      }
      &:nth-child(4) {
        margin-right: 60px;
        margin-top: 40px;
      }
      &:nth-child(5) {
        margin-right: 60px;
        margin-top: 40px;
      }
    }
    &__bottom-img {
      display: none;
    }
  }
  @media (max-width: 1260px) {
    padding-left: 15px;
    padding-right: 15px;
    .container {
      border: 1px solid #000000;
      padding-top: 90px;
    }
    .team__title {
      margin-top: 0;
    }
    &__right-content_left {
      padding-right: 10px;
    }
    &__members-inner {
      padding-top: 30px;
    }
    &-logo_mobile {
      position: absolute;
      height: 100px;
      width: 96px;
      right: 30px;
      top: -15px;
    }
  }
  // @media (max-width: 1250px) {
  //   &__members-inner {
  //     flex-wrap: wrap;
  //   }
  //   &__bottom-img {
  //     height: 150px;
  //   }
  //   &__right-img {
  //     &::before {
  //       left: 0;
  //     }
  //     &::after {
  //       left: 0;
  //     }
  //   }
  //   // .team-logo {
  //   //   display: none;
  //   //   // &_mobile {
  //   //   //   display: block;
  //   //   // }
  //   // }
  //   // .name {
  //   //   display: none;
  //   //   // &_mobile {
  //   //   //   display: block;
  //   //   // }
  //   // }
  //   // .position {
  //   //   display: none;
  //   //   // &_mobile {
  //   //   //   display: block;
  //   //   // }
  //   // }
  //   // &__right-content_left {
  //   //   display: none;
  //   // }
  //   &__right-content_right {
  //     padding: 0;
  //     margin: 0;
  //     border: none;
  //   }
  //   &__right-content {
  //     flex-direction: row;
  //     justify-content: center;
  //   }
  //   // .name_mobile {
  //   //   display: block;
  //   //   font-weight: 400;
  //   //   font-size: 16px;
  //   //   line-height: 19px;
  //   //   padding-left: 13px;
  //   //   margin-bottom: 3px;
  //   //   span {
  //   //     display: block;
  //   //   }
  //   // }
  //   // .position_mobile {
  //   //   display: block;
  //   //   font-weight: 400;
  //   //   font-size: 16px;
  //   //   line-height: 19px;
  //   //   padding-left: 13px;
  //   //   color: #d18929;
  //   //   margin-bottom: 16px;
  //   //   span {
  //   //     display: block;
  //   //   }
  //   // }
  // }
  @media (max-width: 1211px) {
    &__title {
      width: auto;
      font-size: 35px;
      line-height: 50px;
    }
    &__bottom-img {
      display: none;
    }
    &__left {
      padding-left: 60px;
    }
    &__members-inner {
      padding-top: 0;
      padding-left: 0;
      margin-bottom: 0;
    }
    &__right {
      padding-top: 0;
    }
    &__members {
      margin-bottom: 30px;
      margin-right: 30px;
      &-wrapper {
        margin-bottom: 0;
      }
    }
  }
  @media (max-width: 1290px) {
    .page-count_mobile {
      position: absolute;
      right: 15px;
      top: 0;
      font-weight: 500;
      line-height: 89px;
      color: #d18929;
    }
  }
  @media (max-width: 1146px) {
    .container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    .team {
      &-logo {
        bottom: auto;
        top: 110px;
      }
      &__right-img {
        margin: 0 auto;
        margin-bottom: 25px;
      }
      &__members-wrapper {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__members-inner {
        max-width: 670px;
        justify-content: center;
      }
      &__members:nth-child(3) {
        margin-right: 0;
      }
      &__members:nth-child(5) {
        margin-right: 0;
      }
      &__bottom-img {
        display: block;
        max-width: 1100px;
        width: 100%;
      }
    }
    .team__left {
      max-width: 100%;
      width: 100%;
      padding-left: 0;
    }
    .team__right {
      &-content {
        margin-bottom: 130px;
      }
    }
  }
  @media (max-width: 991px) {
    &__members-inner {
      justify-content: space-around;
    }
  }
  @media (max-width: 900px) {
    &__members-inner {
      max-width: 570px;
      width: 100%;
    }
    &__members {
      margin-left: 10px;
      margin-right: 10px;
    }
    &__right {
      background: transparent;
    }
  }
  @media (max-width: 734px) {
    &__members-inner {
      flex-wrap: wrap;
    }
    &__bottom-img {
      height: 150px;
    }
    &__right-img {
      &::before {
        left: 0;
      }
      &::after {
        left: 0;
      }
    }
    .team-logo {
      display: none;
      &_mobile {
        display: block;
      }
    }
    .name {
      display: none;
      &_mobile {
        display: block;
      }
    }
    .position {
      display: none;
      &_mobile {
        display: block;
      }
    }
    &__right-content_left {
      display: none;
    }
    &__right-content_right {
      padding: 0;
      margin: 0;
      border: none;
    }
    &__right-content {
      flex-direction: row;
      justify-content: center;
    }
    .name_mobile {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      padding-left: 13px;
      margin-bottom: 3px;
      span {
        display: block;
      }
    }
    .position_mobile {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      padding-left: 13px;
      color: #d18929;
      margin-bottom: 16px;
      span {
        display: block;
      }
    }
  }
  @media (max-width: 710px) {
    .page-count {
      display: none;
    }
    .page-count_mobile {
      display: block;
    }
    &__members {
      &:nth-child(1) {
        margin-right: 0;
      }
      &:nth-child(2) {
        margin-right: 0;
      }
      &:nth-child(3) {
        margin-right: 0;
      }
      &:nth-child(4) {
        margin-right: 0;
      }
      &:nth-child(5) {
        margin-right: 0;
      }
    }
  }
  @media (max-width: 690px) {
    &__members-inner {
      max-width: 360px;
      width: 100%;
    }
  }
  @media (max-width: 600px) {
    .title-wrapper {
      left: 23px;
    }
    &__right-img {
      background-position: right;
    }
  }
  @media (max-width: 500px) {
    margin-top: 30px;
    padding: 0 10px 30px;
    .container {
      padding-top: 81px;
    }
    .title-wrapper {
      left: 33px;
      top: 34px;
    }
    &__title {
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.02em;
      margin-left: 0;
      &::after {
        display: none;
      }
    }
    .title-wrapper{
      left: 23px;
    }
    &__left {
      padding-left: 0;
    }
    .team__right-img {
      margin-bottom: 30px;
      &::before,
      &::after {
        left: -10px;
      }
    }
    .team__right-content{
      margin-bottom: 76px;
    }
    &__members {
      &:nth-child(1) {
        margin-top: 0;
        margin-bottom: 36px;
      }
      &:nth-child(2) {
        margin-top: 0;
        margin-bottom: 36px;
      }
      &:nth-child(3) {
        margin-top: 0;
        margin-bottom: 36px;
      }
      &:nth-child(4) {
        margin-top: 0;
        margin-bottom: 36px;
      }
      &:nth-child(5) {
        margin-top: 0;
        margin-bottom: 40px;
      }
    }
    &__members-inner {
      max-width: 180px;
      width: 100%;
      margin-bottom: 4px;
    }
    &__bottom-img {
      height: 95px;
      &::before{
        height: 23px;
        width: 90px;
      }
    }
    &__right {
      padding-left: 10px;
      padding-right: 10px;
      .text {
        padding: 0 40px;
        font-weight: 400;
        font-size: 20px;
        line-height: 110%;
        text-align: center;
        margin-top: 0;
        &::before {
          width: 28px;
          height: 22px;
          top: -7px;
          left: 10px;
        }
        &::after {
          width: 28px;
          height: 22px;
          right: 10px;
          bottom: -2px;
        }
      }
      &-img {
        margin-bottom: 30px;
        &::before {
          width: 100px;
          height: 4px;
          left: 0;
          top: 67px;
        }
        &::after {
          width: 100px;
          height: 4px;
          left: 0;
          top: 77px;
        }
      }
    }
  }
  @media (max-width: 450px) {
    .page-count_mobile {
      top: 16px;
      right: 39px;
      font-style: normal;
      font-size: 26px;
      line-height: 30px;
      top: 5px;
      right: 7px;
    }
    &__right-img {
      height: 273px;
    }
  }
}
