.cases {
  padding-top: 0;
  .container {
    border: none;
  }
  &__slider-item:nth-child(1) {
    position: relative;
    border: 1px solid #000000;
    margin-bottom: 60px;
    padding-bottom: 25px;
    .cases__title-wrapper {
      flex-direction: column;
      margin-bottom: 55px;
    }
    &::before {
      position: absolute;
      content: "";
      width: 240px;
      height: 5px;
      background: #d18929;
      left: auto;
      right: 0;
      top: 50%;
    }
    &::after {
      position: absolute;
      content: "";
      width: 164px;
      height: 5px;
      background: #d18929;
      left: auto;
      right: 0;
      top: 48%;
    }
    .cases__wrapper {
      margin-bottom: 140px;
      padding-left: 120px;
    }
    .cases__item {
      &:nth-child(1) {
        position: absolute;
        max-width: 700px;
        top: 60px;
        right: 70px;
        margin-right: 0;
        .img-wrapper{
          left: auto;
          right: -6px;
          top: -33px;
        }
        img {
          transform: translateY(-35%);
          width: 445px;
        }
      }
      &:nth-child(2) {
        position: absolute;
        max-width: 700px;
        top: 212px;
        right: 70px;
        margin-right: 0;
      }
      &:nth-child(3) {
        max-width: 380px;
        margin-right: 133px;
        .img-wrapper{
          left: auto;
          right: -15px;
          top: -20px;
        }
        img {
          transform: translateY(-65%);
          width: 200px;
        }
      }
      &:nth-child(4) {
        margin-right: 0;
        max-width: 690px;
        .img-wrapper{
          left: auto;
          right: 25px;
          top: -24px;
        }
        img {
          transform: translateY(-65%);
          width: 254px;
        }
      }
    }
    .page-count {
      font-weight: 300;
      font-size: 96.8866px;
      line-height: 116px;
      left: 54.3%;
      top: 10px;
    }
  }
  &__slider-item:nth-child(2) {
    border: 1px solid #000000;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 240px;
      height: 5px;
      background: #d18929;
      left: auto;
      right: 70px;
      top: 58%;
    }
    &::after {
      position: absolute;
      content: "";
      width: 164px;
      height: 5px;
      background: #d18929;
      left: auto;
      right: 70px;
      top: 56%;
    }
    .cases__title {
      margin-right: 73px;
    }
    .cases__item {
      &:nth-child(1) {
        position: absolute;
        max-width: 525px;
        top: 130px;
        left: 180px;
        img {
          transform: translateY(-35%);
        }
      }
      &:nth-child(2) {
        margin-right: 108px;
        max-width: 471px;
        width: 100%;
        img {
          transform: translateY(-35%);
        }
      }
      &:nth-child(3) {
        margin-right: 0;
        max-width: 583px;
        width: 100%;
        img {
          transform: translateY(-55%);
        }
      }
    }
    .cases__wrapper {
      display: flex;
      flex-direction: row;
      padding-left: 178px;
    }
    .cases__text {
      max-width: 600px;
      width: 100%;
      margin-top: 200px;
      font-weight: 500;
      font-size: 40px;
      line-height: 49px;
      letter-spacing: 0.03em;
    }
    .page-count {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 74px;
      line-height: 90px;
      left: 58%;
      top: 135px;
    }
  }
  &__title {
    position: relative;
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.02em;
    margin-right: 260px;
    margin-bottom: 35px;
    max-width: 550px;
    width: 100%;
    &-wrapper {
      padding-top: 26px;
      padding-left: 32px;
      display: flex;
    }
  }
  &__text {
    width: 500px;
    font-weight: 600;
    font-size: 35.9211px;
    line-height: 63px;
    letter-spacing: 0.03em;
    color: #d18929;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 165px;
    margin-bottom: 133px;
  }
  &__item {
    position: relative;
    max-width: 590px;
    width: 100%;
    position: relative;
    padding-top: 155px;
    margin-right: 174px;
  }
  .case-number {
    position: absolute;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: #d18929;
    left: -75px;
  }
  .img-wrapper {
    position: absolute;
    height: 193px;
    top: 0;
    left: 0;
    img {
      position: relative;
      top: 50%;
      right: 0;
      transform: translateY(-65%) translateX(90%);
    }
  }
  &__descr {
    position: relative;
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    &::before {
      position: absolute;
      content: "";
      height: calc(100% - 15px);
      width: 4px;
      left: -24px;
      background: #d18929;
    }
  }
  .slider-arrows {
    position: absolute;
    z-index: 10;
    bottom: 15px;
  }
  .slider-arrows__left {
    left: 30px;
    left: 42%;
  }
  .slider-arrows__right {
    right: 42%;
  }
  .slick-dots {
    position: absolute;
    bottom: 43px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 60px;
    .slick-active {
      #slick-slide-control01,
      #slick-slide-control00 {
        background: #d18929;
      }
    }
    #slick-slide-control01,
    #slick-slide-control00 {
      font-size: 0;
      width: 24px;
      height: 24px;
      left: 128.39px;
      top: 25.2px;
      background: #eccda5;
      border-radius: 50%;
    }
  }
  .view-all {
    display: none;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration-line: underline;
    color: #d18929;
    margin-bottom: 24px;
    padding-top: 45px;
    cursor: pointer;
  }
}
