.service {
  padding-top: 0;
  &__title_mobile {
    display: none;
  }
  &__text_mobile {
    display: none;
  }
  &__title {
    position: relative;
    width: 745px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.02em;
    margin-bottom: 37px;
  }
  &__text {
    max-width: 701px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.085em;
    text-transform: uppercase;
    color: #d18929;
    margin-bottom: 71px;
  }
  &__inner {
    display: flex;
  }
  &__left {
    flex: 1;
    padding-top: 35px;
    padding-left: 80px;
  }
  .benefits {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 17px;
    margin-right: 90px;
    &__item {
      width: 33.3%;
      margin-bottom: 55px;
      padding-right: 20px;
      font-size: 18px;
      line-height: 22px;
      text-transform: lowercase;
      img {
        margin-bottom: 10px;
      }
    }
    &__text {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.005em;
      color: #000000;
    }
  }
  &__btn {
    position: relative;
    font-size: 24.4143px;
    line-height: 31px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #d18929;
    max-width: 589px;
    width: 100%;
    margin-left: 30px;
    &::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 82px;
      left: -33px;
      top: -14px;
      background-image: url(../img/btn-left.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 82px;
      background-image: url(../img/btn-right.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      right: -20px;
      top: -10px;
    }
    &-wrapper {
      max-width: 100%;
      width: 100%;
    }
  }
  .center-block {
    position: absolute;
    width: 380px;
    height: 100%;
    right: 152px;
    top: 0;
    background: rgba(255, 255, 255, 0.78);
    &__content {
      position: relative;
    }
    &__count {
      position: absolute;
      left: -80px;
      top: 16px;
      font-size: 91.5263px;
      line-height: 110px;
      color: #d18929;
    }
    &__text {
      position: absolute;
      top: 260px;
      left: -65px;
      font-weight: 600;
      font-size: 48px;
      line-height: 135.69%;
      letter-spacing: 0.02em;
      color: #000000;
      span {
        color: #d18929;
      }
    }
    &_mobile{
      display: none;
      background: rgba(255, 255, 255, 0.78);
    }
  }
  &__img-right {
    width: 532px;
    height: 1038px;
    background-image: url(../img/service.jpg);
  }
  .page-count {
    display: none;
  }
}
