.service {
  &__title_mobile{
    display: none;
  }
  &__text_mobile{
    display: none;
  }
  &__title {
    position: relative;
    width: 745px;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 46px;
    &::after {
      position: absolute;
      content: "";
      width: 391px;
      height: 6px;
      background: #d18929;
      left: -90px;
      bottom: -4px;
    }
  }
  &__text {
    width: 745px;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #d18929;
    margin-bottom: 80px;
  }
  &__inner {
    display: flex;
  }
  &__left {
    flex: 1;
    padding-top: 37px;
    padding-left: 90px;
  }
  .benefits {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;
    &__item {
      width: 280px;
      margin-right: 60px;
      margin-bottom: 62px;
      img {
        margin-bottom: 25px;
      }
    }
    &__text {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.005em;
      color: #000000;
    }
  }
  &__btn {
    position: relative;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #d18929;
    width: 617px;
    &::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 100px;
      left: 0;
      top: -10px;
      background-image: url(../../img/btn-left.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 100px;
      background-image: url(../../img/btn-right.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      right: -10px;
      top: -10px;
    }
  }
  .center-block {
    position: absolute;
    width: 472px;
    height: 100%;
    right: 192px;
    top: 0;
    background: rgba(255, 255, 255, 0.78);
    &__content {
      position: relative;
    }
    &__count {
      position: absolute;
      left: -65px;
      top: 52px;
      font-weight: 500;
      font-size: 316.176px;
      line-height: 371px;
      color: #d18929;
    }
    &__text {
      position: absolute;
      top: 366px;
      left: -50px;
      width: 400px;
      font-weight: 500;
      font-size: 48px;
      line-height: 131.69%;
      letter-spacing: 0.02em;
      color: #000000;
      span {
        color: #D18929;;
      }
    }
  }
  &__img-right {
    width: 633px;
    height: 1038px;
    background-image: url(../../img/service.jpg);
  }
}
