.supplies {
  font-size: 25px;
  padding-top: 0;
  padding-bottom: 60px;
  .container{
    padding-bottom: 57px;
  }
  &__img {
    height: 635px;
    max-width: 351px;
    width: 100%;
    background-image: url(../img/supplies-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 35px;
  }
  &__right {
    padding-left: 15px;
    .basic__btn {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: -20px;
      margin-left: 0;
      font-weight: 600;
      font-size: 31.168px;
      line-height: 37px;
      text-align: center;
      letter-spacing: -0.01em;
      text-align: center;
      color: #d18929;
      max-width: 611px;
      width: 100%;
      cursor: pointer;
      &::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 87px;
        left: -20px;
        top: -7px;
        background-image: url(../../img/btn-left.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      &::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 87px;
        background-image: url(../../img/btn-right.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        right: -15px;
        top: -7px;
      }
    }
  }
  &__title {
    position: relative;
    font-size: 42px;
    line-height: 57px;
    letter-spacing: 0.02em;
    margin-bottom: 33px;
    &::after {
      position: absolute;
      content: "";
      width: 320px;
      height: 6px;
      background: #d18929;
      left: -21px;
      bottom: -18px;
    }
  }
  &__info {
    padding-left: 26px;
    margin-bottom: 38px;
    &-title {
      font-weight: 600;
      font-size: 34.383px;
      line-height: 41px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      margin-bottom: 22px;
      padding-left: 68px;
      padding-top: 23px;
      &_mobile {
        display: none;
      }
    }
    &-text {
      position: relative;
      max-width: 540px;
      width: 100%;
      font-weight: 400;
      font-size: 20px;
      line-height: 128.19%;
      letter-spacing: 0.02em;
      margin-bottom: 36px;
      &::before {
        position: absolute;
        content: "";
        width: 8px;
        height: 100px;
        background: #d18929;
        left: -1px;
        bottom: -9px;
        left: -27px;
        top: 10px;
      }
    }
  }
  .list {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #d18929;
    padding-left: 26px;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    &::before {
      position: absolute;
      content: "";
      width: 8px;
      height: 395px;
      background: #d18929;
      left: -1px;
      top: 8px;
    }
    &__left {
      margin-right: 115px;
    }
    li {
      margin-bottom: 11px;
    }
  }
  .products {
    display: flex;
    justify-content: space-between;
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
    &__inner {
      padding-top: 80px;
    }
    &__left {
      position: relative;
      max-width: 760px;
      width: 100%;
      padding-top: 54px;
      &-list {
        font-weight: 500;
        font-size: 36px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
      }
    }
    &__right {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-top: 145px;
      &_mobile {
        display: none;
      }
    }
    &__list-left {
      margin-right: 94px;
    }
    &__item {
      margin-bottom: 46px;
    }
    &__link {
      position: relative;
      padding-left: 52px;
      font-weight: 600;
      font-size: 36px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #000000;
      &::before {
        position: absolute;
        content: "";
        width: 15px;
        height: 15px;
        background: #000000;
        border-radius: 50%;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &__title {
      position: relative;
      font-weight: 600;
      font-size: 38.8737px;
      line-height: 51px;
      letter-spacing: 0.025em;
      margin-left: 6px;
      margin-bottom: 86px;
      text-transform: uppercase;
      width: 341px;
      &::after {
        position: absolute;
        content: "";
        width: 220px;
        height: 6px;
        background: #d18929;
        left: -22px;
        bottom: -22px;
      }
    }
  }
  .page-count {
    top: 29px;
    right: -112px;
  }
}
