.supplies {
  .container {
    display: flex;
  }
  &__img {
    height: 1040px;
    max-width: 550px;
    width: 100%;
    background-image: url(../img/supplies-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__right {
    padding-top: 47px;
    padding-left: 90px;
  }
  &__title {
    position: relative;
    width: 953px;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 60px;
    &::after {
      position: absolute;
      content: "";
      width: 321px;
      height: 6px;
      background: #d18929;
      left: -1px;
      bottom: -9px;
    }
  }
  &__info {
    padding-left: 26px;
    margin-bottom: 38px;
    &-title {
      font-weight: 600;
      font-size: 40px;
      line-height: 47px;
      letter-spacing: 0.02em;
      margin-bottom: 9px;
    }
    &-text {
      position: relative;
      width: 721px;
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
      letter-spacing: 0.02em;
      &::before {
        position: absolute;
        content: "";
        width: 8px;
        height: 191px;
        background: #d18929;
        left: -1px;
        bottom: -9px;
        left: -27px;
        top: -50px;
      }
    }
  }
  .list {
    position: relative;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #d18929;
    padding-left: 26px;
    display: flex;
    margin-bottom: 35px;
    &::before {
      position: absolute;
      content: "";
      width: 8px;
      height: 263px;
      background: #d18929;
      left: -1px;
      top: 2px;
    }
    &__left {
      margin-right: 115px;
    }
    li {
      margin-bottom: 10px;
    }
  }
  .products {
    display: flex;
    &__left {
      margin-right: 87px;
    }
    &__right {
      display: flex;
      padding-top: 4px;
    }
    &__list-left {
      margin-right: 94px;
    }
    &__item {
      margin-bottom: 28px;
    }
    &__link {
      position: relative;
      padding-left: 53px;
      font-weight: 400;
      font-size: 34px;
      line-height: 40px;
      color: #000000;
      &::before {
        position: absolute;
        content: "";
        width: 25.99px;
        height: 25.99px;
        background: #d18929;
        border-radius: 50%;
        left: 0;
        top: 7px;
      }
    }
    &__title {
      font-weight: 600;
      font-size: 40px;
      line-height: 47px;
      letter-spacing: 0.01em;
      margin-bottom: 51px;
    }
    .basic__btn {
      position: relative;
      font-weight: 700;
      font-size: 28px;
      line-height: 45px;
      text-align: center;
      color: #d18929;
      width: 513px;
      margin-left: 19px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer;
      &::before {
        position: absolute;
        content: "";
        width: 16px;
        height: 100px;
        left: -20px;
        top: -10px;
        background-image: url(../../img/btn-left.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      &::after {
        position: absolute;
        content: "";
        width: 15px;
        height: 100px;
        background-image: url(../../img/btn-right.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        right: -20px;
        top: -10px;
      }
    }
  }
}
