.footer {
  padding: 20px;
  .container {
    padding-top: 42px;
  }
  &__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 59px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding-left: 91px;
    margin-bottom: 67px;
  }
  &__left {
    padding-left: 92px;
  }
  &__contacts {
    position: relative;
    max-width: 647px;
    width: 100%;
    height: 756px;
    background: #f9f9f9;
    padding: 61px 0 0 46px;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    margin-bottom: 63px;
    &::after{
      position: absolute;
      content: "";
      height: 16px;
      width: 647px;
      background: #D18929;
      top: -16px;
      left: 0;
    }
    a{
      display: block;
      color: #000;
    }
  }
  &__contact{
    position: relative;
    margin-bottom: 63px;
    &::after{
      position: absolute;
      content: "";
      height: 144px;
      width: 6px;
      background: #D18929;
      top: 6px;
      left: -25px;
    }
  }
  &__contact-title {
    font-weight: 700;
  }
}
